/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
.padding {
  padding: 5%;
}
.center {
  display: flex;
  justify-content: center;
}
/* Set every element's box-sizing to border-box */
* {
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  width: 100%;
}
html,
body {
  height: 100%;
}
h1 {
  font-size: 6rem;
  color: hsl(26, 94%, 47%);
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  flex-direction: column;
  color: white;
}
header {
  background-image: linear-gradient(to top, rgba(46, 49, 65, 0.8), rgba(46, 49, 65, 0.8)), url("/images/smoky-mountains.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  display: flex;
  padding: 5%;
}
header .nav-wrapper {
  flex-direction: row;
  display: flex;
}
header nav {
  display: flex;
  justify-content: center;
}
@media (max-width: 400px) {
  header nav {
    flex-direction: column;
    align-items: center;
  }
}
header nav a {
  text-decoration: none;
  font-size: 1.5rem;
  font-family: Arial, Helvetica, sans-serif;
  align-content: space-around;
  color: white;
}
header {
  display: flex;
  flex-direction: column;
}
.heading {
  margin-top: 16rem;
  text-align: center;
  flex-direction: column;
  align-items: flex-end;
}
.heading p {
  color: white;
  font-size: 1.8rem;
  text-align: center;
}
.wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
}
#experience {
  background-color: white;
  padding: 5%;
}
#skills {
  background-color: hsl(26, 94%, 47%);
  padding: 5%;
}
#portfolio {
  background-color: white;
  padding: 5%;
}
#about {
  display: flex;
  flex-direction: row;
}
#about .about-text {
  width: 75%;
  padding: 5%;
}
#contact {
  background-color: hsl(26, 94%, 47%);
  padding: 5%;
}
